<!DOCTYPE html>
<html>
  <head>
    <title>Paariline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if content_for? :head %>
      <%= yield :head %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
